<!--Menu-->
<div class="bg-black text-white p-4 flex flex-row">
    <div class="p-2">
        <!-- From Uiverse.io by catraco -->
        <button routerLink="/"
            class="cursor-pointer flex items-center fill-lime-400 bg-lime-950 hover:bg-lime-900  active:border-lime-400 rounded-md duration-100 p-2">
            <span class="text-sm text-lime-400 font-bold p-1">Home</span>
        </button>
    </div>
    <div class="p-2">
        <button routerLink="/cocktails"
            class="cursor-pointer flex items-center fill-lime-400 bg-lime-950 hover:bg-lime-900 active:border-lime-400 rounded-md duration-100 p-2">
            <span class="text-sm text-lime-400 font-bold p-1">Cocktails</span>
        </button>
    </div>
    <div class="p-2">
        <button routerLink="/order"
            class="cursor-pointer flex items-center fill-lime-400 bg-lime-950 hover:bg-lime-900 active:border-lime-400 rounded-md duration-100 p-2">
            <span class="text-sm text-lime-400 font-bold p-1">Order</span>
        </button>
    </div>
</div>

<router-outlet />