<div class="bg-lime-50 w-screen h-screen">
<div class="max-w-4xl mx-auto p-6">
  <h1 class="text-3xl font-bold mb-6 text-center">Tus pedidos guardados</h1>

  <div *ngIf="pedidos.length === 0" class="text-center text-gray-500">
    No hay pedidos guardados en localStorage.
  </div>

  <div *ngFor="let item of pedidos" class="bg-white rounded-xl shadow-md overflow-hidden mb-4 flex">
    <img class="w-32 h-24 object-cover rounded-l-xl" [src]="item.imagen" alt="{{item.nombre}}" />
    <div class="p-4 flex flex-col justify-between">
      <div>
        <h2 class="text-xl font-semibold mb-1">{{ item.nombre }}</h2>
        <p class="text-gray-600 text-sm mb-2">{{ item.descripcion }}</p>
      </div>
      <p class="text-lime-600 font-bold text-lg">€{{ item.precio }}</p>
    </div>
  </div>
</div>
</div>